@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Comfortaa:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
.section{
    scroll-margin-top: 80px;

}
  
/* NAVIGATION BAR*/
.header {
    width: 100%; 
    padding: 7px 25px;
    background: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 50px; 
    height: auto;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    
    margin-right: 85px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    color: black;
  }
  .navbar ul li a:hover {
    color: #d70906;
    transition: transform 0.2s ease-in-out;

  }
  .resumebtn {
    width: 110px;
    height: 32px;
    border: none;
    border-radius: 10px;
    margin-left: 8px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    cursor: pointer;
    background-color: #d70906;
    transition: transform 0.2s ease-in-out;
}
.resumebtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.resumebtn img {
    width: 20px;
    height: 20px;
}
.resumebtn a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home {
    height: 100vh;  
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 1s; 
}

.Home-Text {
    padding: 60px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.waving-image{
    display: flex;
    height: 60px;
    width: 60px;
    padding-left: 9px;
    animation: wave 1.5s infinite alternate;
}
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(15deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
.Home-Text h2, h1, p{
    margin:5px;
}
.Home-Text h1{
    font-size: 50px;
    display: flex;
}
.Home-Text p{
    font-size: 28px;
}
.Home-Text h2{
    font-size: 21px;
}
.Home-Text h1 span{
    color:#d70906;
    padding-left: 8px;
}
.mText {
    display: inline-block;
    font-weight: bold;

}

.content-image{
    width: 450px;
    height: 430px;
    padding: 10px;
    margin-right: 60px;
}

.About {
    height: 100vh;  
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}
.container {
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px 0% 0% 0%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}
.aboutText { 
    font-size: 16px;
    line-height: 1.7;
    max-width: 800px;
    margin: auto;
    padding-right: 35px;
    text-align: justify;
}
.aboutText h1{
    font-size: 28px;
    font-weight: 700;
    color: #d70906;
    margin-bottom: 15px;
}
.aboutText strong {
    font-weight: 700;
}
.aboutText em {
    font-style: italic;
}

.aboutText p {
    margin-bottom: 15px;
    font-size: 16px;
}
.aboutText .emoji {
    font-size: 18px;
    margin-right: 5px;
}
.aboutText p:last-child {
    font-style: italic;
    font-weight: 500;
}
.aboutimg { 
    width: 250px;
    height: 270px;
    margin: 30px;
    object-fit: cover;
}

.container p {
    margin-bottom: 20px;
}
.skills-container{
    display: flex;
    gap: 12;
}
.skillbadge{
    background-color: #eb7a79; 
    color: #fff; 
    font-weight: 600;
    padding: 7px 14px; 
    border-radius: 9999px;
    display: inline-block;
    white-space: nowrap; 
    font-size: 12px;
    margin: 5px 5px 0px 7px ;
    display: flex;
    align-items: center;
    gap: 8px;
}
.skillbadge svg {
    color: white; 
    font-size: 16px; 
}

.project-section {
    text-align: center;
    margin-bottom: 40px;
}

.projects-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.capstone-card h1 {
    color: red; 
}
.portfolio{
    height: 100vh;  
    width: 100%;
    padding-top: 110px; 
}
.capstone-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 30px 100px;
    justify-content: center;
    max-width: 1000px; 
    margin: auto;
}
.capstone-card {
    width: 300px; 
    height: 365px; 
    padding: 10px;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.capstone-card h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}
.capstone-card p {
    font-size: 12px;
    margin: 10px ;
    text-align: justify;
    padding-left: 20px;
    padding-right: 15px;
}
.capstone-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    
}
.conpage {
    padding-left: 150px;
    padding-bottom: 30px;
    
 }
 .conpage h1{
    padding-left: 20px;
 }
 .contacts{
    display: flex;
 }
 .contacts p{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .email{
    color: black;
 }
 .contacts img{
    width: 25px;
    height: 25px;
    padding-left: 20px;
    padding-right: 10px;
 }

.social-media img {
    width: 25px;
    height: auto;
    margin-top: 5px;
    margin-left: 25px;
}
 .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}